node_modules/
.npm-cache/
dist/
sw.js
sw.js.map
workbox-*.js
workbox-*.js.map
desktop-dist/
*.exe
*.nupkg
*.zip
*.crate
src-tauri/target/
tauri-dev/
electron-builder-master/
Electron.NET-main/
debug.log
server-*.log
opencoursedeck-server.pid
